@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;700&display=swap');
.anfrage-wrapper {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.anfrage-content {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.anfrage-content h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.anfrage-content p {
  text-align: center;
}

.headertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  font-family: 'IBM Plex Serif', serif;
}
.header {
  position: relative;
  align-items: center !important;
}
.header {
  align-items: center !important;
}
