
.karte-toggle-switch {
	position: absolute;
	top: 2.5%;
	right: 5%;
	z-index: 10;
	cursor: pointer;
	outline: none;
	width: 7vw;
	height: 3.5vw;
	min-width: 40px;
	min-height: 20px;
	max-width: 54px;
	max-height: 28px;
	display: flex;
	align-items: center;
}

.toggle-track {
	width: 100%;
	height: 100%;
	background: #000;
	border-radius: 50vw;
	position: relative;
	transition: background 0.2s;
	align-items: flex-end;
}
.toggle-on {
	background: #ddd;
}
.toggle-circle {
	width: 100%;
	height: 100%;
	background: #FFA500;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 0.2s;
	box-shadow: 0 1px 4px rgba(0,0,0,0.10);
	max-width: 28px;
	max-height: 28px;
	min-width: 20px;
	min-height: 20px;
}
.toggle-on .toggle-circle {
	left: calc(100% - min(28px, 100%));
}

.karte-wrapper {
	width: 100%;
	height: 90%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.karte-map {
	width: 100%;
	height: 100%;
	min-height: 0;
	overflow: hidden;
	box-shadow: 0 2px 12px rgba(0,0,0,0.12);
}
