.notfall-wrapper {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.notfall-content {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.notfall-content h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.notfall-content p {
  text-align: center;
}

