/* Header-Titel-Schriftgröße */
.headertitle {
	font-size: 32px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');


.header {
	width: 100%;
	height: 8%;
	min-height: 40px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 0 2rem;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.headerarrow {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-column: 1;
}

.headerlogo {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2;
}

.schachtlogo {
	height: 5.5vh;
	width: auto;
}

.backarrow {
	align-self: flex-start;
}

.karte-toggle-switch {
	cursor: pointer;
	outline: none;
	width: 7vw;
	height: 3.5vw;
	min-width: 40px;
	min-height: 20px;
	max-width: 54px;
	max-height: 28px;
	display: flex;
	align-items: center;
}

.toggle-track {
	width: 100%;
	height: 100%;
	background: #383637;
	border-radius: 50vw;
	position: relative;
	transition: background 0.2s;
	align-items: flex-end;
}
.toggle-on {
	background: #ddd;
}
.toggle-circle {
	width: 100%;
	height: 100%;
	background: #FFA500;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 0.2s;
	max-width: 28px;
	max-height: 28px;
	min-width: 20px;
	min-height: 20px;
}
.toggle-on .toggle-circle {
	left: calc(100% - min(28px, 100%));
}

.toggle p {
    font-family: Kalam, cursive;
    font-size: 24px;
}

.toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	grid-column: 3;
}
