.map-preview-box {
  width: 85%;
  margin: 0 auto 0 auto;
}
.hilfe-mapvorschau {
  width: 100%;
  border: 4px solid #000;
  border-radius: 18px;
  background: #fff;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2rem;
}

.hilfe-mapvorschau-map {
  width: 100%;
  height: 120px;
  background: #eee;
  border-radius: 12px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 1.1rem;
}
