.sprechblase-png-wrapper {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 260px;
}

.sprechblase-png-img {
  width: 100%;
  height: 80%;
  display: block;
}

.sprechblase-png-text {
  position: absolute;
  height: 95%;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 26px;
  color: #222;
  line-height: 1.2;
  pointer-events: none;
}