html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #eee;
}

.app-shell {
  width: 100%;
  max-width: 768px;        /* iPad mini Breite */
  height: 100vh;
  margin: 0 auto;          
  background: white;
  overflow: hidden;
}