html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #969696;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: #969696;
}