.app-shell {
  width: 100%;
  max-width: 810px;        /* iPad 2020 8. Gen Breite */
  aspect-ratio: 3 / 3.55;     /* iPad Hochformat */
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding: 0;
  position: relative;
}
